* {
    padding: 0px;
    margin: 0px;
}

/* body {
    height: 400vh;
    background: url(../static/video4.mp4);
    ;
    
} */

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;

}

.video-background video{
    object-fit: cover;   
    width: 100%;

}

.navbar {
    height: 77px;
    width: 100%;
    flex-shrink: 0;
    background: #C1E5FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
}

.navbar-logo img {
    width: 33px;
    height: 37px;
    flex-shrink: 0;
    margin-left: 105px;
    margin-top: 20px;
}

.navbar-name h1 {
    color: #034C81;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 1200;
    line-height: normal;
    margin-left: 15px;
    margin-top: 23px;
    margin-left: 50px;
}

.diabetes-page {
    width: 100%;

    display: flex;
    width: 100%;
    flex-direction: column;
}

.diabetes-symtomps::before {
    content: " ";
    background: #85e3ff93;
    border-radius: 43px;
    opacity: 0.69;
    z-index: -1;
    filter: blur(3px);
    width: 85%;
    height: 800px;
    flex-shrink: 0;
    position: absolute;
    top: 302px;
    left: 101px;
}

.time::before {
    content: " ";
    background: #85e3ff93;
    border-radius: 43px;
    opacity: 0.69;
    z-index: -1;
    filter: blur(3px);
    width: 85%;
    height: 400px;
    flex-shrink: 0;
    position: absolute;
    top: 1350px;
    left: 125px;
}

.diabetes-text p {
    color: #034C81;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 75px;
    margin-left: 110px;
}

.diabetes-text span {
    color: #B60000;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*
.diabetes-text span  {
    color: #00800D;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}*/
.diabetes-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.diabetes-text img {
    width: 263px;
    height: 270px;
    flex-shrink: 0;
    margin-right: 78px;
}

/*.diabetes-patient-name h1 {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 69px;
}*/
.diabetes-patient-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.heading {
    color: #034C81;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 150px;
}

.diabetes-symtomps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-right: 300px;
    margin-left: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.input-box {
    width: 360px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    margin-left: 85px;
    margin-bottom: 40px;
    margin-bottom: 35px;
    margin-top: 7px;
    border: 2px solid #FFF;
}

.input-box-1 {
    width: 360px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    /* margin-left: 85px;
    margin-bottom: 40px;
    margin-bottom: 35px;
    margin-top: 7px;*/
    margin-bottom: 40px;
    border: 2px solid #FFF;
    font-size: 1rem;
    font-family: Ubuntu;
    padding: 7px 7px;
}

.diabetes-symtomps p {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 69px;

}

.diabetes-checking {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.btn1 {
    width: 240px;
    height: 45px;
    flex-shrink: 0;
    margin-left: 69px;
    border-radius: 12px;
    background: #00800D;
    border: 1px solid #00800D;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.btn2 {
    width: 240px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #b90000;
    border: 1px solid #b90000;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.predict1 {
    /* width: 240px;
    height: 45px; */
    flex-shrink: 0;
    border-radius: 12px;
    background: #b6000000;
    color: #034C81;
    font-family: Inter;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0px;
    margin-top: 40px;


}

.logo img {
    width: 80px;
    height: 97.866px;
    flex-shrink: 0;
}

.diabetes-symtomps-results {
    display: flex;
    width: 90%;
    flex: 1 1 1 300px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: row;
    margin-top: 120px;
}

.time1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.time-heading p {
    color: #034C81;
    font-family: Ubuntu;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-left: 150px;
}

.timer-table p {
    color: #1E1E1E;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 14px;
    margin-top: 20px;
    margin-left: 150px;
}

#date {
    width: 250px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 150px;
    border: 2px solid #FFF;
    margin-top: 20px;
    font-family: Ubuntu;
}

#time {
    width: 250px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 150px;
    border: 2px solid #FFF;
    margin-top: 20px;
    font-family: Ubuntu;

}

/*
#time {
    width: 250px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-top: 25px;
    border: 2px solid #FFF;


}
*/

.timer-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 120px;
}

.checkdown {
    display: flex;
    flex-direction: row;
    flex: 1 1 300px;

}

#calculate {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    border: 2px solid #FFF;
    font-family: Ubuntu;
}

#stop {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    border-radius: 14px;
    border: 2px solid #FFF;
    font-family: Ubuntu;
}

#reset {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    border-radius: 14px;
    border: 2px solid #FFF;
    font-family: Ubuntu;
}

.countdown {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 30px 30px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}


.countdown-timer {
    display: flex;
    flex-direction: row;
    margin: 4px 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.countdown-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    margin-left: 150px;
}

.countdown-heading p {
    color: #034C81;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin-left: 175px;
}

#countdown-days {
    width: 117px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    margin-left: 200px;
}

#countdown-hours {

    width: 117px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    margin-left: 200px;
}

.line {
    border: 2px solid #058ff188;
    height: 250px;
    position: absolute;
    left: 650px;
    margin-top: 125px;
}

.line2 {
    border: 2px solid #058ff188;
    width: 80%;
    margin-left: 120px;
    margin-top: 150px;
    border-radius: 10px;
}

.accuracy {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.downloadpart {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.reminder {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.accuracy-text p {
    color: #034C81;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 117.198%;
    margin-top: 50px;
    /* 37.503px */
}

.accuracy-text span {
    color: #00800D;
    font-family: Ubuntu;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 117.198%;
    margin-top: 50px;
}

.accuracy-image img {
    width: 106px;
    height: 148px;
    flex-shrink: 0;
    fill: #00800D;
    margin-top: 50px;
}

.line3 {
    border: 2px solid #058ff188;
    width: 80%;
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 10px;
}
.line4 {
    border: 2px solid #058ff188;
    width: 80%;
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 10px;
}

.line5 {
    border: 2px solid #058ff188;
    width: 80%;
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 10px;
}

.downloadpart-text p {
    color: #034C81;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.284%;
    margin-top: 50px;
}

.downloadpart-text span {
    color: #B60000;
    font-family: Ubuntu;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.284%;
    margin-top: 50px;
    /* 63.976px */
}

.downloadpart-image img {
    width: 155px;
    height: 155px;
    flex-shrink: 0;
    fill: #B60000;
    margin-top: 50px;
}

.reminder-text span {
    color: #00800D;
    font-family: Ubuntu;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.284%;
    margin-top: 50px;
}

.reminder-text p {
    color: #034C81;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    line-height: 133.284%;
    /* 42.651px */
}

.reminder-image img {
    width: 124.81px;
    height: 139px;
    flex-shrink: 0;
    margin-top: 50px;
}

input[type=number], select, textarea {    
    width: 50%;    
    padding: 12px;
    height: 30px;    
    border: 1px solid rgb(153, 231, 255);    
    border-radius: 25px;    
    resize: vertical;    
  }    
  input[type=email], select, textarea {    
    width: 50%;    
    padding: 12px;    
    border: 1px solid rgb(153, 231, 255);    
    border-radius: 25px;    
    resize: vertical;    
  }    
      
  label {    
    padding: 12px 12px 12px 0;    
    display: inline-block;    
  }    
  .container {    
    border-radius: 5px;    
    padding: 20px;    
  }    
      
  input[type=submit] {    
    background-color: rgb(37, 116, 161);    
    color: white;    
    padding: 12px 20px;    
    border: none;    
    border-radius: 25px;    
    cursor: pointer;    
    float: right;  
    
  }    
      
  input[type=submit]:hover {    
    background-color: #45a049;    
  }    
    
      
  .col-25 {    
    float: left;    
    width: 25%;    
    margin-top: 6px;    
  }    
      
  .col-75 {    
    float: left;    
    width:75%;    
    margin-top: 6px;    
  }    
      
  /* Clear floats after the columns */    
  .row:after {    
    content: "";    
    display: table;    
    clear: both;    
  }    
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}